panel==1.2.1

markupsafe==2.0.1

itsdangerous==2.0.1

dill==0.2.1

Flask==1.0

gunicorn==19.5.0

Jinja2==2.11.3

oauth==1.0.1

oauthlib==0.7.2

requests>=2.2.1

simplejson==3.8.0

bokeh==2.3.0

numpy==1.23.2

pandas==1.5.3

