<!doctype html>
<html lang="en">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142498774-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-142498774-1');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles/stlannex_style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
    <title>STL Annex</title>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
  </head>
  <body>
    <center>
      <div class="tophead">
          <br>
          <h1> STL Annex: Data Analysis of St. Louis Topics and More!</h1>
          <h4>Matthew T. Lawder</h4>
          <h5>matt@stlannex.com</h5>
          <br>
      </div>
      <div id="menu-vue">
        <menu-bar></menu-bar>
      </div>
      <div class="container">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10 left-group">
          <div class="blog-container">
            <div class="blog-title">
              <h3>By the Numbers: Methodolgy</h3>
            </div>
            <div class="blog-title blog-date">Updated:9/30/2019 - M. Lawder</div>
          </div>
          <div>
            The data used for these posts is sourced from a couple of different databases and tables obtained from the Beraeu of Transportation website. The tables used include:
            <ul>
              <li><a href="https://www.transtats.bts.gov/DatabaseInfo.asp?DB_ID=111&DB_URL=Mode_ID=1&Mode_Desc=Aviation&Subject_ID2=0">T-100 Domestic Segment (All Carriers)</a></li>
              <li><a href="https://www.transtats.bts.gov/Tables.asp?DB_ID=125&DB_Name=Airline%20Origin%20and%20Destination%20Survey%20%28DB1B%29&DB_Short_Name=Origin%20and%20Destination%20Survey">DB1B Coupon</a></li>
              <li><a href="https://www.transtats.bts.gov/Tables.asp?DB_ID=125&DB_Name=Airline%20Origin%20and%20Destination%20Survey%20%28DB1B%29&DB_Short_Name=Origin%20and%20Destination%20Survey">DB1B Market</a></li>
            </ul>
            The T-100 data is used to calculate the departures, the passenger totals and the load factors. The DB1B Coupon Data is used to map regional carrier flights to their mainline airlines based on the ticketing airline. The DB1B Market data is used for all of the O&D calculations. Both DB1B tables are only use 10% of all airline ticket and therefore are only an estimation and info for based on these numbers contains a small margin of error.
            <br><br>
            <h5>Metrics</h5>
            <ul>
              <li><b>Direct Route Stats</b> (using T-100 segment data selected for the Main airport & Airline and then aggregated by Destination [either Origin field or Dest field depending on Arrival or Departure])
                <ul>
                  <li><em>Passengers</em> - Sum of Passengers field</li>
                  <li><em>Load Factor</em> - Sum of Passengers field divided by Sum of Seats field</li>
                  <li><em>Departures</em> - Sum of DepPerformed field</li>
                  <li><em>Avg Trip Time</em> - Sum of RampTime field divided by Sum of DepPerformed field</li>
                  <li><em>Avg Taxi Time</em> -(Sum of RampTime field minus Sum of AirTime field) divided by DepPerformed field</li>
                </ul>
              </li>
              <li> <b>Aircraft Type Stats</b> (using T-100 segment data selected for the Main airport & Airline and then aggregated by AircraftType field)
                <ul>
                  <li><em>Departures</em> - Sum of DepPerformed field</li>
                  <li><em>% Departures</em> - Sum of DepPerformed field divided by Total Departures</li>
                  <li><em>Passengers</em> - Sum of Passengers field</li>
                  <li><em>% Passengers</em> - Sum of Passengers field divided by Total Passengers</li>
                  <li><em>Load Factor</em> - Sum of Passengers field divided by Sum of Seats field</li>
                </ul>
              </li>
              <li><b>Origin and Destination Stats</b> (using DB1B Market table selected for the Main airport & Airline and then aggregated by Destination)
                <ul>
                  <li><em>Passengers (OD)</em> - Sum of Passengers field</li>
                  <li><em>OD Dest Rank at STL</em> - rank of airline based on Passengers (OD) compared to all airlines with routes from Main airport</li>
                  <li><em>Avg Fare</em> - After removing all fares less than $15, Sum of MktFare field divided by Sum of Passengers field</li>
                  <li><em>Pct Free</em> - After selecting only fares less than $15, Sum of Passengers field divided by Sum of Passengers field (Total Passengers, without any fare selection)</li>
                </ul>
              </li>
            </ul>
            <br><br>
            I plan to update the Methodology page with more thorough information about individual stats in the future.
            --More to Come--
          </div>
          </div>
        </div>
      </center>



        
    <script src="static/components/menu.vue">
    </script>
    </body>
</html>