<!doctype html>
<html lang="en">
	<head>
    <link rel="import" href="/static/components/head_imports.html">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>STL Annex</title>
	</head>
	<body>
    <center>
      <div class="tophead">
          <br>
          <h1> STL Annex: Data Analysis of St. Louis Topics and More! [BETA] </h1>
          <h4>Matthew T. Lawder</h4>
          <h5>matt@stlannex.com</h5>
          <br>
      </div>
     <div id="menu-vue">
        <menu-bar></menu-bar>
      </div>

      <div class="container">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10 left-group">
          <div class="blog-container">
            <br>
            <div class="blog-title">
              <h3>About the Author: Matthew T. Lawder</h3>
            </div>
            <div class="blog-title blog-date"></div>
            <br>    
          </div>
          <div class="right-image" style="max-width:250px;margin-left:15px;">
              <img src="/static/images/MTL_headshot.jpg" align="right" class="image" />
          </div>
                Currently living in New Jersey, I moved up to the New York City area at the start of 2016 to take part in the Data Incubator as a fellow and stayed around for my current job (and my wife's family) as a Senior Data Analyst at 1010data. Prior to moving to the East Coast, I grew up in the St. Louis area, went to undergrad at Butler in Indianapolis and then moved back to St. Louis for grad school at Washington Univeristy in St. Louis earning my PhD from the Energy, Environmental, and Chemical Engineering Department for my study on computational modeling of Lithuim-ion batteries.
                <br><br>For an in-depth look at my study, you can check out: <a href="https://openscholarship.wustl.edu/eng_etds/164/">Modeling, Simulation, and Analysis of Lithium-Ion Batteries for Grid-Scale Applications</a>. To give a brief summary, most of my work focused on studying the lifetime degradation of  batteries based on different charge/discharge patterns, specifically for large scale applications such as electic vehicles and batteries coupled with solar installtions. The main question we wanted to answer was, "How will non-standard charge and discharge patterns affect the life of Lithium-ion batteries?"
                <br><br>
                Throughout my PhD work, I spent a lot of time digging through large data sets both from the model output and from actual battery experiments in the lab. I was focused on discerning the important points and trends from thousands and ten-of-thousand of cycles with millions of individual data points for each battery. I enjoyed the data analysis portion of the study so much that after my PhD, I took part in the Data Incubator and then joined 1010data working on building better data tools to perform analytics on billion row datasets.
                <br><br>
                Outside of work, I'm an avid runner. Since competing in high school at St. Louis Univerisity High and college at Butler University, I contained to train and have completed 9 marathons (with number 10 approaching quickly). My best finishes include placing 50th in the 2013 Chicago Marathon (2:26:21), 46th in the 2015 Boston Marathon (2:26:15), and 44th in the 2016 New York City Marathon (2:30:39). If you've read many of my blogs or poked around this site, I'm also a general data enthusist and really enjoy digging into transportation, infrastructure, and census data.
                <br><br>
                If you have any general questions for me or inquires about the site you can email me at matt@stlannnex.com. Additionally you can find my <a href="https://www.linkedin.com/in/mtlawder/">LinkedIn profile here</a>.
              
              <br>
              <hr>
            
        </div>
        <div class="col-sm-1">
        </div>
      </div>
      <div class="container">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10 left-group">
          <div class="blog-container">
            <div class="blog-title">
              <h3 href="/blog_load_factors_from_STL">About the Website: STL Annex</h3>
            </div>
            <div class="blog-title blog-date"></div>
          </div>
          If the website feels a bit unfocused with my blogs and tools covering a fairly wide range of topics, that is because it is unfocused at this point. The one thing you can count on with any of the blogs and tools is that they will be data driven. I may interject some of my personal opinions into the blogs, but the main goal for the website right now is to be a place for any data-based projects or investigations into which I delve. I do not want to strictly set this up with airline analysis or census data investigations. I'm leaving it open ended to see where these projects end up. I have longer terms plans for most of them, but we will see how time allows those plans to progress and for now, I want the website to be flexible.
          <br><br>
          The other aspect that will often be consistent across posts will be that many of the analyses will focus around St. Louis based themes or data. For some tools or data that is releavent outside of just St. Louis, I'll often start with the St. Louis section of data and then expand from there and will probably be including New Jersey or New York data next. One area where I've been lacking so far, is posting thorough methodolgies about each analysis and I hope to get more of those added in the future, but with limited time so far, I have focused on putting out the actual analysis first and will hopefully be able to clean up more later. As always, if you have any questions or comments about the tools, the data, or the analysis please reach out to matt@stlannex.com.

              <br>
              <hr>
            
        </div>
        <div class="col-sm-1">
        </div>
      </div>
      <div class="container">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10 left-group">
          <div class="blog-container">
            <div class="blog-title">
              <h3 href="/blog_load_factors_from_STL">Good Links</h3>
            </div>
            <div class="blog-title blog-date"></div>
          </div>
          My recommended links to other sites:
          <br>
          <br>
          <a href="https://urbanstl.com/">Urban STL</a>: A great forum for all things St. Louis.
          <br>
          <br>
          <a href="http://www.stlouiscitytalk.com/">St. Louis City Talk</a>: If you want to get to know a neighborhood or Park in St. Louis, they do an awesome job exploring every facet of an area (and there are lots of pictures!) and also has posts on other topics too.
          <br>
          <br>
          <a href="https://aviationstl.wixsite.com/website">STL Aviation News</a>: Posts great flight data about Lambert (and Mid-America). Definitely worth a follow on twitter too (<a href="https://twitter.com/aviationstl?lang=en">@AviationSTL</a>)
          <br>
          <br>
          <a href="https://nextstl.com/">NextSTL</a>: While the site isn't kept up to date as much as it once was, the archives still have a wealth of great insight into development projects in STL over the past decade.
          <br>
          <br>
          <a href="http://stlouispatina.com">St. Louis Patina</a>: Another great look into the buildings and neighborhoods of St. Louis with great images.
          <br>
          <br>
          <a href="https://www.cityscene-stl.com/">CityScene STL</a>: The most well kept site on new developments around St. Louis.
          <br>
          <br>
          <a href="https://www.transtats.bts.gov/DataIndex.asp">TransStats</a>: Bereau of Transportation Statistics treasure trove of data. A little hard to navigate, but has some really great sets to dig into.
          <br>
          <hr>    
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </center>
    <script src="static/components/menu.vue">
    </script>
    </body>
</html>