<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Airline Analysis</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/static/stlannex_style.css"/>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
  <script>
    function sortTable(col) {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementsByClassName("my-table-all-air");
      switching = true;

      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table[0].rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("TD")[col];
          y = rows[i + 1].getElementsByTagName("TD")[col];
          //check if the two rows should switch place:
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch
          and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }
    function sortTable2(col) {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementsByClassName("my-table-all-air");
      switching = true;

      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table[0].rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("TD")[col];
          y = rows[i + 1].getElementsByTagName("TD")[col];
          //check if the two rows should switch place:
          if (parseInt(x.innerHTML) < parseInt(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch
          and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }
  </script>
  

	</head>
	<body>
    <center>

    <div class="tophead">
        <br>
        <h1> STL Annex: Data Analysis of St. Louis Topics! </h1>
        <h4>Matthew T. Lawder</h4>
        <h5>mtlawder@gmail.com</h5>
        <br>
    </div>
    <!--
	<div>
		<button onclick="sortTable(3)">Sort by Airline</button>
    <button onclick="sortTable(5)">Sort by Destination Code</button>
  </div>
    -->
  <br>



  <div id="dest" class="select-height">
    <div class="container selection_header remove-pad">
      <div class="col-sm-5 remove-pad">
        <div class=" col-sm-12 container remove-pad ">
          <div  class="col-sm-12 select-option-1 selection-group">
            <div class="col-sm-4 sub-pad">
              <input type="radio" id="depart" value="depart" v-model="origin">
              <label for="one">Departing from</label>
              <br>
              <input type="radio" id="arrive" value="arrive" v-model="origin">
              <label for="two">Arriving at</label>
              <br>
              <input type="radio" id="combined" value="combined" v-model="origin">
              <label for="two">Combined</label>
            </div>
            <div class="col-sm-8 sub-pad sub-pad-down">
              <select v-model="airport_sel" class="btn dropdown-toggle">
                <option class="dropdown-item" v-for="airport in airport_av" >{{airport}}</option>
              </select>
              <span v-if="origin === 'depart'">
                flying to:
                <select v-model="dest" class="btn dropdown-toggle">
                  <option class="dropdown-item">ALL</option>
                  <option class="dropdown-item" v-for="going_to in dest_options[airport_sel]" >{{going_to}}</option>
                </select>
              </span>
              <span v-else-if="origin === 'arrive'">
                flying from:
                <select v-model="dest" class="btn dropdown-toggle">
                  <option class="dropdown-item">ALL</option>
                  <option class="dropdown-item" v-for="going_to in dest_options[airport_sel]" >{{going_to}}</option>
                </select>
              </span>
              <span v-else>
                to/from: 
                <select v-model="dest" class="btn dropdown-toggle">
                  <option class="dropdown-item">ALL</option>
                  <option class="dropdown-item" v-for="going_to in dest_options[airport_sel]" >{{going_to}}</option>
                </select>
              </span>
            </div>
          </div>
          <div class="col-sm-12 selection-group center-group">
            Selected Year:
            <select v-model="year_sel" class="btn dropdown-toggle">
              <option class="dropdown-item" v-for="yr in years_av" >{{yr}}</option>
            </select>
            <select v-model="month_sel" class="btn dropdown-toggle">
              <option class="dropdown-item" v-for="mn in months_av" v-bind:value="mn['value']">{{mn['label']}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-3 short-bottom selection-group select-height">
        <div class="col-sm-12 center-group">
          Choose Carrier:
        </div>
        <div class="center-group">
          <select  class="btn dropdown-toggle" v-model="carrier_sel">
            <option class="dropdown-item" v-for="carrier in carrier_av" v-bind:value="carrier['value']">{{carrier['label']}}</option>
          </select>
        </div>
        <br>
        <div class="col-sm-12 select-option-1">
          <input type="radio" value="regional" v-model="regional_sel">
          <label for="one">Break out by Regional</label>
          <br>
          <input type="radio" value="mainline" v-model="regional_sel">
          <label for="two" title="Only for STL">Roll up to Mainline</label>
        </div>
      </div>
      <div class="col-sm-2 center-drop center-group selection-group select-height">
        <div>
          <button class="btn btn-primary" v-on:click="updateDest(carrier_sel,dest)">Choose Selections</button>
        </div>
        <br>
        <div>
          <button class="btn btn-primary" v-on:click="updateDest('ALL','ALL')">Clear Selection</button>
        </div>
      </div>
      <div class="col-sm-2 selection-group select-height">
        <em>Rows: {{dests.length}}</em>
          <br>
          Refresh with "Choose Selections" after changing selections.
      </div>
      
    </div>
    <!--
    <form id="hidden_submit" class="hidden_submit" action="all_airlines" method="post">
      <input name="dest_code" v-model="var2"/>
      <button type="submit" class="btn btn-primary btn-lg">  Submit </button>
    </form>
    -->

    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <table border="1" class='table table-striped my-table-all-air'>
        <thead>
          <tr style="text-a*lign: right;">
            <th onclick="sortTable2(0)"><a>DEPARTURES</a></th>
            <th onclick="sortTable2(1)"><a>TOTAL CAPACITY</a></th>
            <th onclick="sortTable2(2)"><a>TOTAL PASSENGERS</a></th>
            <th onclick="sortTable2(3)"><a>LOAD FACTOR</a></th>
            <th onclick="sortTable(4)"><a>UNIQUE_CARRIER_NAME</a></th>
            <th onclick="sortTable(5)"><a>CODE</a></th>
            <th onclick="sortTable(6)">
              <a v-if="origin === 'depart'">Destination</a>
              <a v-if="origin === 'arrive'">Origin</a>
            </th>
            <th onclick="sortTable2(7)"><a>YEAR</a></th>
          </tr>
        </thead>
        <tbody>
          
           <tr v-for="d in dests">
            <td>{{d[0]}}</td>
            <td>{{d[1]}}</td>
            <td>{{d[2]}}</td>
            <td>{{d[3]}}</td>
            <td class="click_sel" v-on:click="updateDest(d[4],'ALL')">{{d[4]}}</td>
            <td class="click_sel" v-on:click="updateDest('ALL',d[5])">{{d[5]}}</td>
            <td>{{d[6]}}</td>
            <td>{{d[7]}}</td>
          </tr>
        
      </tbody>
    </table>
  </div>  
  <div class="col-sm-1">
  </div>
      <div class="col-sm-12">
        
      <<%plot_air_script|safe%>>
      <<%plot_air|safe%>>
        
    </div>
  </div>

	
    </center>
    <script>
      new Vue ({
        el: '#dest',
        data: {
          dests: <<%air_dest|safe%>>,
          dest: '<<%var2|safe%>>',
          dest_options: <<%dest_options|safe%>>,
          carrier_sel: '<<%carrier_sel|safe%>>',
          carrier_av: [{'value':'ALL','label':'All Carriers'},{'value':'Southwest Airlines Co.','label':'Southwest'}, {'value':'American Airlines Inc.','label':'American'}, {'value':'Delta Air Lines Inc.','label':'Delta'}, {'value':'United Air Lines Inc.','label':'United'}, {'value':'Frontier Airlines Inc.','label':'Frontier'}, {'value':'Alaska Airlines Inc.','label':'Alaska'}, {'value':'Cape Air','label':'Cape Air'},{'value':'Multi-Aero, Inc. d/b/a Air Choice One','label':'Air Choice One'},{'value':'Air Canada','label':'Air Canada'},{'value':'','label':'other'}],
          var3: false,
          years_av: ['All','2017','2018'],
          months_av: [{'label':'All', 'value':0},{'label':'Jan', 'value':1},{'label':'Feb', 'value':2},{'label':'Mar', 'value':3},{'label':'Apr', 'value':4},{'label':'May', 'value':5},{'label':'June', 'value':6},{'label':'July', 'value':7},{'label':'Aug', 'value':8},{'label':'Sep', 'value':9},{'label':'Oct', 'value':10},{'label':'Nov', 'value':11},{'label':'Dec', 'value':12}],
          airport_av: ['STL','IND','DSM','MEM','MCI'],
          airport_sel: '<<%airport_sel|safe%>>',
          year_sel: '<<%year_sel|safe%>>',
          month_sel: '<<%month_sel|safe%>>',
          origin: '<<%depart_arrive|safe%>>',
          regional_sel: '<<%regional_sel|safe%>>'
        },
        methods: {
          upD: function(dest){
            this.dest=dest;
            this.var3=true;
          },
          updateDest: function(carrier,dest){
            let form = document.createElement('form');
            form.action = 'all_airlines';
            form.method = 'POST';
            form.innerHTML = '<input class="hidden_submit" name="dest_code" value="'+dest+'"><input class="hidden_submit" name="airport_sel" value="'+this.airport_sel+'"><input class="hidden_submit" name="carrier_sel" value="'+carrier+'"><input class="hidden_submit" name="regional_sel" value="'+this.regional_sel+'"><input class="hidden_submit" name="year_value" value="'+this.year_sel+'"><input class="hidden_submit" name="month_value" value="'+this.month_sel+'"><input class="hidden_submit" name="depart_arrive" value="'+this.origin+'">';
            document.body.append(form);
            form.submit();
          }
        }

      })
    </script>
	</body>
</html>
