<!doctype html>
<html lang="en">
	<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142498774-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-142498774-1');
	</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/styles/stlannex_style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
    <title>STL Annex</title>
	</head>
	<body>
    <center>
    <div id="header-vue">
      <header-bar></header-bar>
    </div>
    <div id="menu-vue">
      <menu-bar></menu-bar>
    </div>
    <br>

      <div id="blog_head" class="container">

        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <div class="tophead">
            <br>
            <h2>All Blog Posts</h2>
            <br>
          </div>
          <div class="left-group">
            <template v-for="blog in blogs">
              <div class="blog-container">
                <div class="blog-title">
                  <h3  class="blog-title-link"><a :href="blog['URL']">{{blog["Title"]}}</a></h3>
                </div>
                <div class="blog-title blog-date">{{blog["StartDate"]}} - {{blog["Author"]}}</div>
                </div>
                <div>
                  {{blog["RawSummary"]}}
                  <a :href="blog['URL']">See more ...</a>
                </div>
              </div>
              <hr class="hr-tiny"/>
            </template>
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
      
    </center>

    <script src="static/components/menu.vue">
    </script>
    <script src="static/components/header.vue">
    </script>
    </script>
    <script>   
      new Vue ({
        el: '#blog_head',
        data: {
          blogs: <<%blogs|safe%>>
        }
      })
    </script>
	</body>
</html>
