<!doctype html>
<html lang="en">
	<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142498774-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142498774-1');
    </script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<title>Airline Analysis</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/static/styles/stlannex_style.css"/>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/b-1.5.6/b-html5-1.5.6/datatables.min.css"/>
  <!--Open Source DataTable used for presenting data: Copyright (C) 2008-2019, SpryMedia Ltd.-->
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/b-1.5.6/b-html5-1.5.6/datatables.min.js"></script>

  <script type="text/javascript">
    $(document).ready( function (){
      $('#fullTab').DataTable( {
          dom: '<<"horiz-divl"l><"horiz-divl"B><"horiz-divr"f>>rtip',
          order: [[1,"desc"]],
          buttons: ['csv'],
          pageLength: 50
      } );
    })
  </script>

	</head>
	<body>
    <center>

    <div class="tophead">
        <br>
        <h1> Airline Data Browser (STL Annex) [Beta]</h1>
        <br>
    </div>
    <!--
	<div>
		<button onclick="sortTable(3)">Sort by Airline</button>
    <button onclick="sortTable(5)">Sort by Destination Code</button>
  </div>
    -->
    <div id="menu-vue">
      <menu-bar></menu-bar>
    </div>
  <br>



  <div id="dest" class="select-height">
    <div class="container selection_header selection_header-top remove-pad" v-if="showSelections">
      <div class="col-sm-10">
        Edit Selections
      </div>
      <div class="col-sm-2 right-group">
        <button class="hide-button" @click="showSelections = 0">&#8657;Hide&#8657;</button>
      </div>
    </div>
    <div class="container selection_header remove-pad" v-if="showSelections">
      <div class="col-sm-5 remove-pad">
        <div class=" col-sm-12 container remove-pad ">
          <div  class="col-sm-12 select-option-1 selection-group">
            <div class="col-sm-4 sub-pad">
              <input type="radio" id="depart" value="depart" v-model="origin">
              <label for="one">Departing from</label>
              <br>
              <input type="radio" id="arrive" value="arrive" v-model="origin">
              <label for="two">Arriving at</label>
              <br>
              <input type="radio" id="combined" value="combined" v-model="origin" disabled>
              <label for="two">Combined</label>
            </div>
            <div class="col-sm-8 sub-pad sub-pad-down">
              <select v-model="airport_sel" class="btn dropdown-toggle" >
                <option class="dropdown-item" v-for="airport in airport_av" >{{airport}}</option>
              </select>
              <span v-if="origin === 'depart'">
                flying to:
                <select v-model="dest" class="btn dropdown-toggle" >
                  <option class="dropdown-item" >ALL</option>
                  <option class="dropdown-item" v-for="going_to in dest_options[airport_sel]" >{{going_to}}</option>
                </select>
              </span>
              <span v-else-if="origin === 'arrive'">
                flying from:
                <select v-model="dest" class="btn dropdown-toggle" >
                  <option class="dropdown-item">ALL</option>
                  <option class="dropdown-item" v-for="going_to in dest_options[airport_sel]" >{{going_to}}</option>
                </select>
              </span>
              <span v-else>
                to/from: 
                <select v-model="dest" class="btn dropdown-toggle">
                  <option class="dropdown-item">ALL</option>
                  <option class="dropdown-item" v-for="going_to in dest_options[airport_sel]" >{{going_to}}</option>
                </select>
              </span>
            </div>
          </div>
          <div class="col-sm-12 selection-group center-group">
            Selected Year:
            <select v-model="year_sel" class="btn dropdown-toggle">
              <option class="dropdown-item" v-for="yr in years_av" >{{yr}}</option>
            </select>
            <select v-model="month_sel" class="btn dropdown-toggle">
              <option class="dropdown-item" v-for="mn in months_av" v-bind:value="mn['value']" >{{mn['label']}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-3 short-bottom selection-group select-height">
        <div class="col-sm-12 center-group">
          Choose Carrier:
        </div>
        <div class="center-group">
          <select  class="btn dropdown-toggle" v-model="carrier_sel">
            <option class="dropdown-item" v-for="carrier in carrier_av" v-bind:value="carrier['value']" v-cloak>{{carrier['label']}}</option>
          </select>
        </div>
        <br>
        <div class="col-sm-12 select-option-1">
          <input type="radio" value="regional" v-model="regional_sel">
          <label for="one">Break out by Regional</label>
          <br>
          <input type="radio" value="mainline" v-model="regional_sel">
          <label for="two" title="Only for STL">Roll up to Mainline</label>
        </div>
      </div>
      <div class="col-sm-2 center-drop center-group selection-group select-height">
        <div>
          <button class="btn btn-primary" v-on:click="updateDest(carrier_sel,dest)">Choose Selections</button>
        </div>
        <br>
        <div>
          <button class="btn btn-primary" v-on:click="updateDest('ALL','ALL')">Clear Selection</button>
        </div>
      </div>
      <div class="col-sm-2 selection-group select-height center-group" >
        <b>Rows: {{dests.length}}</b>
          <br>
          Refresh with "Choose Selections" after changing selections.
          <br>
          <button id="show-modal" @click="showModal = true">More Info</button>
            <!-- use the modal component, pass in the prop -->
          <modal v-if="showModal" @close="showModal = false" v-cloak>
            <div class="modal-window">
              <div class="modal-wrapper">
                <div class="modal-container">
                  <h3>More Information
                  </h3>
                  <div class="left-group">
                    <p>
                      The main data set was obtained from the Bureau of Transportation Statistics. A subset of the <a href="https://www.transtats.bts.gov/Fields.asp?Table_ID=293">T-100 Segment</a> dataset is used. Departures, Total Capacity, and Total Passengers are taken from the DepPerformed, Seats, and Passengers columns respectively. The Load Factor is calculated as the Total Passengers divided by the Total Capacity.
                      <br><br>
                      In many cases mainline carriers (Delta, United, American, etc.) will have a regional carrier operate a particular route under the Mainline carrier sub-banner (such as Delta Connections, United Express, or American Eagle). The T-100 Segment table shows data at the carrier level and does not note if the carrier was operating the flight for a mainline carrier. Therefore, I've been manually pulling data for which regional carrier routes are being operator under a mainline barrier. I've included a radio button option to either show the data at the regional carrier or attempt to roll up the numbers to the mainline carrier when availalbe.
                      <br><br>
                      Here's a simple example. United may operate 2 flights per day on mainline aircraft between STL and ORD. But 4 more flights per day might be operated ExpressJet Airlines under the United Express banner. When selectin Break out by regionals on the STL-ORD route, both United and ExpressJet would be considered seperately, but if Roll up to Mainline were selected, all the statistics would be rolled up to United.
                      <br><br>
                      Because I am currently creating this mapping manually, it is only available for some airports and routes (currently only flights departing or arriving at STL). If you know of a better way to source this data or notice any mistakes please let me know!
                      <br><br>
                      Matthew Lawder (mtlawder@gmail.com)
                    </p>
                  </div>
                  <button @click="showModal = false">Close</button>
                </div>
              </div>
            </div>
          </modal>
          
      </div>
      
    </div>
    <div class="container selection_header-hidden remove-pad" v-else>
      <div class="col-sm-10">
        Showing results from: {{airport_sel}} to {{dest}}  &nbsp;&nbsp;Month: {{month_sel}} &nbsp;&nbsp;Year: {{year_sel}}  &nbsp;&nbsp;Carrier: {{carrier_sel}}  &nbsp;&nbsp;Rollup: {{regional_sel}}
      </div>
      <div class="col-sm-2 right-group">
        <button class="hide-button" @click="showSelections = 1">&#8659;Edit Selections&#8659;</button>
      </div>
    </div>
    <!--
    <form id="hidden_submit" class="hidden_submit" action="all_airlines" method="post">
      <input name="dest_code" v-model="var2"/>
      <button type="submit" class="btn btn-primary btn-lg">  Submit </button>
    </form>
    -->

    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <table id="fullTab" border="1" class='table table-striped my-table-all-air'>
        <thead>
          <tr style="text-align: right;">
            <th onclick="sortTable2(0)"><a>DEPARTURES</a></th>
            <th onclick="sortTable2(1)"><a>TOTAL CAPACITY</a></th>
            <th onclick="sortTable2(2)"><a>TOTAL PASSENGERS</a></th>
            <th onclick="sortTable2(3)"><a>LOAD FACTOR</a></th>
            <th onclick="sortTable(4)"><a>UNIQUE_CARRIER_NAME</a></th>
            <th onclick="sortTable(5)"><a>CODE</a></th>
            <th onclick="sortTable(6)">
              <a v-if="origin === 'depart'">Destination</a>
              <a v-if="origin === 'arrive'">Origin</a>
            </th>
            <th onclick="sortTable2(7)"><a>YEAR</a></th>
          </tr>
        </thead>
        <tbody>
          
           <tr v-for="d in dests">
            <td>{{d[0]}}</td>
            <td>{{d[1]}}</td>
            <td>{{d[2]}}</td>
            <td>{{d[3]}}</td>
            <!-- <td class="click_sel" v-on:click="updateDest(d[4],'ALL')">{{d[4]}}</td> -->
            <td>{{d[4]}}</td>
            <td class="click_sel" v-on:click="updateDest('ALL',d[5])">{{d[5]}}</td>
            <td>{{d[6]}}</td>
            <td>{{d[7]}}</td>
          </tr>
        
      </tbody>
    </table>
  </div>  
  <div class="col-sm-1">
  </div>
      <div class="col-sm-12">
        
      <<%plot_air_script|safe%>>
      <<%plot_air|safe%>>
        
    </div>
  </div>

	
    </center>
    <script src="static/components/menu.vue">
    </script>
    <script>
      new Vue ({
        el: '#dest',
        data: {
          dests: <<%air_dest|safe%>>,
          dest: '<<%var2|safe%>>',
          dest_options: <<%dest_options|safe%>>,
          carrier_sel: '<<%carrier_sel|safe%>>',
          carrier_av: [{'value':'ALL','label':'All Carriers'},{'value':'WN','label':'Southwest'}, {'value':'AA','label':'American'}, {'value':'DL','label':'Delta'}, {'value':'UA','label':'United'}, {'value':'F9','label':'Frontier'}, {'value':'AS','label':'Alaska'}, {'value':'9K','label':'Cape Air'},{'value':'0MQ','label':'Air Choice One'},{'value':'AC','label':'Air Canada'},{'value':'','label':'other'}],
          var3: false,
          years_av: ['All','2018','2017','2016','2015','2014'],
          months_av: [{'label':'All', 'value':0},{'label':'Jan', 'value':1},{'label':'Feb', 'value':2},{'label':'Mar', 'value':3},{'label':'Apr', 'value':4},{'label':'May', 'value':5},{'label':'June', 'value':6},{'label':'July', 'value':7},{'label':'Aug', 'value':8},{'label':'Sep', 'value':9},{'label':'Oct', 'value':10},{'label':'Nov', 'value':11},{'label':'Dec', 'value':12}],
          airport_av: ['STL','IND','DSM','MCI','MEM','CVG','SBN','COU','SGF'],
          airport_sel: '<<%airport_sel|safe%>>',
          year_sel: '<<%year_sel|safe%>>',
          month_sel: '<<%month_sel|safe%>>',
          origin: '<<%depart_arrive|safe%>>',
          regional_sel: '<<%regional_sel|safe%>>',
          showModal: false,
          showSelections: 1
        },
        methods: {
          upD: function(dest){
            this.dest=dest;
            this.var3=true;
          },
          updateDest: function(carrier,dest){
            let form = document.createElement('form');
            form.action = 'all_airlines';
            form.method = 'POST';
            form.innerHTML = '<input class="hidden_submit" name="dest_code" value="'+dest+'"><input class="hidden_submit" name="airport_sel" value="'+this.airport_sel+'"><input class="hidden_submit" name="carrier_sel" value="'+carrier+'"><input class="hidden_submit" name="regional_sel" value="'+this.regional_sel+'"><input class="hidden_submit" name="year_value" value="'+this.year_sel+'"><input class="hidden_submit" name="month_value" value="'+this.month_sel+'"><input class="hidden_submit" name="depart_arrive" value="'+this.origin+'">';
            document.body.append(form);
            form.submit();
          }
        }

      })
    </script>
	</body>
</html>
