<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142498774-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-142498774-1');
	</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/styles/stlannex_style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/stl_pop_style.css">
    <title>STL Annex</title>
    
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
    <style>
    .col-xl-4{
      padding:0px !important;
    }
    .col-lg-6{
      padding:0px !important;
    }
    .col-lg-12{
      padding:0px !important;
    }
    .btn-group{
      padding:5px !important;
    }
    .container{
      padding:0px !important;
      max-width:1240px;
    }
  </style>
  </head>
  <body>
        <center>
          <div id="header-vue">
      <header-bar></header-bar>
    </div>
        <div id="menu-vue">
          <menu-bar></menu-bar>
        </div><br>
        <div id="by_the_numbers">
          <div class="container">
            <div class="col-lg-2 col-md-1">
            </div>
            <div class="col-lg-8 col-md-10 col-sm-12">
              <div>
                <h3>Connecting the US, Which Airports are most used for connection</h3>
                <br>
                All air travelers have experienced a connecting flight where instead of flying directly from your home airport to your destination, you board a flight to some intermediate city, land (usually change planes), and then take off and head to your actual destination (or connect again!). In early aviation, connections (or at least stops) were a necessity for longer trips where airplane would need to refuel. As jet ranges have grown to the point where most destinations could be connected with a nonstop trip, many passengers still face connection
              </div>
            </div>
            <div class="col-lg-2">
            </div>
          </div>
        </div>
	<script src="static/components/menu.vue">
    </script>
	<script src="static/components/header.vue">
    </script>
          <script>
            
      new Vue ({
        el: '#by_the_numbers',
        data: {
          dests: 'x',
          table_sel: 'combined',
          od_sel: 'combined',
          operator_sel: 'all'
          
        },
        methods:{
          formatPct: function(val) {
            if (val!=null) {
              return val.toFixed(1);
            }
            else {
              return "NA"
            }
          },
          formatNum: function(val) {
            if (val!=null) {
              return val.toLocaleString()
            }
            else {
              return "NA"
            }
          },
          updateNBHood: function(){
            let form = document.createElement('form');
            form.action = 'stl_pop';
            form.method = 'POST';
            form.innerHTML = '<input class="hidden_submit" name="nbhoods_send" value="'+this.nbhoods_sel+'">';
            document.body.append(form);
            form.submit();
          }
        }
      })
      </script>
        
    
    </center>



  </body>
</html>