<html lang="en">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142498774-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-142498774-1');
	</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/styles/stlannex_style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/stl_pop_style.css">
    <title>STL Annex</title>
    
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
    <style>
    .col-xl-4{
      padding:0px !important;
    }
    .col-lg-6{
      padding:0px !important;
    }
    .col-lg-12{
      padding:0px !important;
    }
    .btn-group{
      padding:5px !important;
    }
    .container{
      padding:0px !important;
      max-width:1440px;
    }
    .cardCOVID{
      border:1pt solid black;
      border-radius: 10px;
      background-color:#220091;
      padding:8px;
      color:#e6e6e6;
      min-height:70px;
    }
    .whiteRow{
      background-color:white;
    }
  </style>
  </head>
  <body>
    <center>
      <div id="header-vue">
        <header-bar></header-bar>
      </div>
      <div id="menu-vue">
        <menu-bar></menu-bar>
      </div>
         
      <br>
      <div id="covid">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-12">
              <h2>COVID-19 USA Stats</h2>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="cardCOVID">
                <h5>Showing data through</h5>
                {{today_vals['data'][0][5]}}
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="cardCOVID">
                <h5>Total Cases</h5>
                {{formatNum(today_vals['data'][0][1])}}
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="cardCOVID">
                <h5>New Cases</h5>
                {{formatNum(today_vals['data'][0][3])}} ({{formatPct(today_vals['data'][0][4])}})
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <h4> National Cases and Deaths</h4>
              <p>While the number of Cases has continued to grow rapidly across the county, the growth has been flattening (as seen in the log scale chart) and does not appear to be growing exponentially anymore based on the number of cases. (April 4, 2020)
              </p>
            </div>
          </div>
          <div class="row" class="whiteRow">
            <div class="col-md-6 col-sm-12" style="padding-left:12px;">
              <<%national_div|safe%>>
            </div>
            <div class="col-md-6 col-sm-12">
              <<%national_log_div|safe%>>
            </div>
          </div>
        </div>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h4>Cases by State</h4>
              <p>Individual State growth rates have varied quite a bit, but all appear to be showing slowed growth turning away from exponential growth. While cases will continue to grow in every state, measures appear to be slowing that growth. (April 4, 2020)
            </div> 
          </div>
          <div class="row" class="whiteRow">
            <div class="col-lg-6 col-md-12">
              <div id="enterCaseDiv">
                <div style="height:450px;">
                  Loading
                  <br/>
                  <img src="/static/images/loading.gif"/>
                </div>
              </div>
            </div>   
            <div class="col-lg-6 col-md-12">
              <div id="enterCaseLogDiv">
                <div style="height:450px;">
                  Loading
                  <br/>
                  <img src="/static/images/loading.gif"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h4>Comparing Growth Rates across States</h4>
              <p>In the first chart, five states are shown that showcase different types of case growth. Some case growth is unavoidable due to the initial lack of containment, but a major goal of state measures now has been to slow the rate of growth and keep it from becoming exponential. The line chart shows how cases have grown after a state's 500th case. While New York's cases continued to soar, Washington's have grown more modestly. So while Washington hit 500 cases a day before New York (on March 18th), the Evergreen state remains at <i>only</i> 6,075 cases (April 2, 2020) compared to the Empire state's 92,770.
              </p>
              <p>
                The second plot, show the most recent five day growth rate for every state compared to it's current case today. In general states with lower growth rates are closer to hitting their peak. States with more cases (especially if they still have a high growth rate will likely have a higher peak). Note that cases is in log scale. Hover over each dot to see the state name and more detailed info.
            </div> 
          </div>
          <div class="row" class="whiteRow">
            <div class="col-lg-6 col-md-12">
              <div id="enterStateComp">
                <div style="height:450px;">
                  Loading
                  <br/>
                  <img src="/static/images/loading.gif"/>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div id="enterStateDiv">
                <div style="height:450px;">
                  Loading
                  <br/>
                  <img src="/static/images/loading.gif"/>
                </div>
              </div>
            </div>   
          </div>
          <hr>
          <div class="row" class="whiteRow">
            <div class="col-lg-4 col-md-12">
              <div class="d-lg-block d-md-none"><br><br><br></div>
              <h5>Pattern in State's Case Growth</h5>
              <p stye="text-align:left;">The .gif shows how each state's Total Cases and 5 day growth rate has changed over the last month. All states will start at the bottom of the plot and ideally move to the left as quickly as possible without ascending. Moving to the right means a state's growth rate in increasing, while moving up mean a state's total cases are higher. We see that all states are trending upwards, but the have also pushed to the left on the chart as a whole over time, meaning the the rate of growth is slowing.
            </div>
            <div class="col-lg-8 col-md-12">
              <img src="/static/images/covid_case_v_state_growth.gif"/>
            </div>   
          </div>
          <div class="row" class="whiteRow">
            <div class="col-lg-4 col-md-12">
              .
            </div>
            <div class="col-lg-8 col-md-12">
              
            </div>   
          </div>
        </div>
        <hr>

        <p>
          <a href="github.com/nytimes/covid-19-data">Based on Data provided by The New York Times</a>
        </p>
        <p>Other Blogs on COVID-19</p>
        <a href="/blog_coronavirus_march">A Look at State Coronavirus Case Numbers</a><br/>
        <a href="/blog_coronavirus_april">Coronavirus in US Metros</a><br/>
        <a href="/blog_coronavirus_nj">Coronavirus in New Jersey - Numbers by County</a>
        <hr>
      </div>
      <<%national_log_script|safe%>>
    <<%national_script|safe%>>
    <<%cases_log_script|safe%>>
    <<%comp_st_script|safe%>>
    <<%st_script|safe%>>
    <script>   
      new Vue ({
        el: '#covid',
        data: {
          dests: 'x',
          today_vals: <<%today_vals|safe%>>
          
        },
        created: function(){
          
            
            var req = new XMLHttpRequest()
            req.open("GET",'/api/states' ,true);
            req.send()
            req.onload=function(){
              data=JSON.parse(this.response)
              var element = document.getElementById('enterCaseDiv');
              var element2 = document.getElementById('enterCaseLogDiv');
              element.innerHTML=data.cases_div
              element2.innerHTML=data.cases_log_div
              eval(data.cases_script.slice(33,-9))
              eval(data.cases_log_script.slice(33,-9))
            }
            console.log('created')
            var req2 = new XMLHttpRequest()
            req2.open("GET",'/api/state_comp' ,true);
            req2.send()
            req2.onload=function(){
              data=JSON.parse(this.response)
              var element = document.getElementById('enterStateComp');
              var element2 = document.getElementById('enterStateDiv');
              element.innerHTML=data.comp_st_div
              element2.innerHTML=data.st_div
              eval(data.comp_st_script.slice(33,-9))
              eval(data.st_script.slice(33,-9))
            }
            

            console.log('called_api')

        },
        methods:{
          formatPct: function(val) {
            if (val!=null) {
              return ((val*100).toFixed(1)).toString()+'%';
            }
            else {
              return "NA"
            }
          },
          formatNum: function(val) {
            if (val!=null) {
              return val.toLocaleString()
            }
            else {
              return "NA"
            }
          },
          apiStates: function(){
            var req = new XMLHttpRequest()
            req.open("GET",'/api' ,true);
            req.send()
            req.onload=function(){
              data=JSON.parse(this.response)
              var element = document.getElementById('enterDiv');
              var element_script = document.getElementById('enterScript');
              element.innerHTML=data.div
              eval(data.script.slice(33,-9))
            }
          }
        }
      })
      </script>
        
    
    </center>


  	<script src="static/components/menu.vue">
    </script>
    <script src="static/components/header.vue">
    </script>


  </body>
</html>