<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142498774-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-142498774-1');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles/stlannex_style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
    <title>STL Annex</title>
  </head>
  <body>
    <center>
    <div id="header-vue">
      <header-bar></header-bar>
    </div>
    <div id="menu-vue">
      <menu-bar></menu-bar>
    </div>

    <br>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 left-group">
            <div class="subsection">
              <h2 class="h_subsection"> Recent Blog Posts </h2>
              <hr class="hr-small">
            </div>
            
            <div class="left-group">
              <div class="blog-container">

                <div class="blog-title">
                  <h3  class="blog-title-link"><a href="/blog_stl_od">Where do Lambert's Fliers Land?: A granular look at STL's historical O&D numbers</a></h3>
                </div>
                <div class="blog-title blog-date">2/16/2020 - M. Lawder</div>
              </div>
              <div>
                  St. Louis has had slow annual growth in the total Origin & Destination (O&D) passengers that it has generated in the last 25 year. <a href="/blog_od_ranks">Last month I looked at its growth compared to other airports</a> and saw that STL has steadily declined in airport rankings for total O&D passengers. However when looking at individual routes flying to/from Lambert, you'll see a lot of change
                <a href="/blog_stl_od">See more ...</a>
              </div>
              <hr class="hr-tiny"/>
            <div class="blog-container">
                <div class="blog-title">
                  <h3  class="blog-title-link"><a href="/blog_nyc_airports_od_comp">New York Airport O&D Travel: How Newark, LaGuardia, and Kennedy Differ</a></h3>
                </div>
                <div class="blog-title blog-date">2/1/2020 - M. Lawder</div>
              </div>
              <div>
                  There are three major airports in the New York vicinity: Newark (EWR), LaGuardia (LGA) and Kennedy (JFK). There are other smaller airport's like Stewart (SWF) or further away one's like Philadelphia (PHL) that draw the occasional TriState resident, but these are the big three, combining for a total of 87.7M domestic
                <a href="/blog_nyc_airports_od_comp">See more ...</a>
              </div>
              <hr class="hr-tiny"/>
            <div class="blog-container">
                <div class="blog-title">
                  <h3  class="blog-title-link"><a href="/blog_od_ranks">Generating Passengers: Which airports are driving growth?</a></h3>
                </div>
                <div class="blog-title blog-date">1/22/2020 - M. Lawder</div>
              </div>
              <div>
                  Two weeks ago, I put out a blog looking through which <a href="/connecting_airport_traffic">airports had the most domestic connecting traffic in 2018</a>. That blog provided some interesting information about how Origin & Destination (O&D) passengers different from airport to airport. As a reminder
                <a href="/blog_od_ranks">See more ...</a>
              </div>
              <hr class="hr-tiny"/>
            <div class="blog-container">
                <div class="blog-title">
                  <h3  class="blog-title-link"><a href="/connecting_airport_traffic">Which Airports Benefit the Most from Connecting Passengers</a></h3>
                </div>
                <div class="blog-title blog-date">1/5/2020 - M. Lawder</div>
              </div>
              <div>
                 In 2018, the 25 busiest US airports served just under 1 Billion domestic passengers. At least that's the number reported by airports based on the most common calculations. When
                <a href="/connecting_airport_traffic">See more ...</a>
              </div>
              <hr class="hr-tiny"/>
            <div class="blog-container">
              <div class="blog-title">
                <h3  class="blog-title-link"><a href="/all_stl_nbh_census">All St. Louis Neighborhood Census Data Pie Charts 1990-2010</a></h3>
              </div>
              <div class="blog-title blog-date">12/8/2019 - M. Lawder</div>
            </div>
            <div>
               Check out all St. Louis Neighborhood Pie Charts showing changing populations in a unified plot.
              <a href="/all_stl_nbh_census">See more ...</a>
            </div>
            <hr class="hr-tiny"/>
            <div class="blog-container">
              <div class="blog-title">
                <h3  class="blog-title-link"><a href="/blog_us_marathon_trials_2020_p2">US 2020 Marathon Trials Analysis: Part 2</a></h3>
              </div>
              <div class="blog-title blog-date">12/4/2019 - M. Lawder</div>
            </div>
            <div>
               In <a href="/blog_us_marathon_trials_2020">Part 1 of my US Marathon Trials Analysis</a>, I looked at the current field that is qualified for the 2020 Trials and how they compared to qualifying fields of the past. Today, we will look at the results from the 04-16 Trials and how individual's results relate to their qualifying
              <a href="/blog_us_marathon_trials_2020_p2">Read more ...</a>
            </div>
            <hr class="hr-tiny"/>
            <div class="blog-container">
              <div class="blog-title">
                <h3  class="blog-title-link"><a href="/blog_us_marathon_trials_2020">US 2020 Marathon Trials Analysis: Part 1</a></h3>
              </div>
              <div class="blog-title blog-date">11/26/2019 - M. Lawder</div>
            </div>
            <div>
               The <a href="https://www.usatf.org/events/2020/2020-u-s-olympic-team-trials-marathon">2020 US Marathon Oylmpic Trials in Atlanta</a> are fast approaching. This 4 year-cycle has already seen record numbers of men and women hit the qualifying standard at the Marathon distance (386 women and 182 men as of Oct. 22) with about 2 months still to go. There has also been a large drop
              <a href="/blog_us_marathon_trials_2020">Read more ...</a>
            </div>
            <hr class="hr-tiny"/>
                          <hr class="hr-tiny"/>
            </div>
            <div style="text-align:center">
              <a href="/all_blogs">See all blog posts</a>
            </div>
            <hr>
          </div>
          <div class="col-12 col-lg-6">
            <div class="subsection">
              <h2 class="h_subsection"> Data Tools and Projects </h2>
              <hr class="hr-small"/>
            </div>
            <div class="left-group">
              The projects below were built to be used to find insteresting insights from different data sets. Many data sets and tools are St. Louis centric, but some extend to information well beyond the city and county borders. I didn't create these tools in a vacuum, I also use them! You can find blog posts with analysis created using these tools (and sometimes outside analysis) at the bottom of this page. Find out more information about the <a href="/about">author here</a> and please reach out to matt@stlannex.com if you have any questions or comments about the tools or analysis.
              <hr>
            </div>
            <div class="subsection">
              <h2 class="h_subsection"> Airline Data Browser </h2>
              <hr class="hr-small"/>
            </div>
            
            <div>
              <div>
                <img src="/static/images/airline_browser_screenshot.png" class="image"/>
              </div>
              <div class="left-group">
                The Airline Data Browser aggregates statistics from the Bureau of Transportation <a href="https://www.transtats.bts.gov/Fields.asp?Table_ID=293">T-100 Segment </a> data set and allows users to look at information such as total departures, passengers, and load factors on individual routes down to a monthly level. The tool currently only offers domestic routes arriving at or departing from a limited set of airports. Additionally, there is only a limited set of mappings available to roll up regional carriers to their mainline carriers as we work to find more accurate mappings. Data currently available from Jan. 2014 to mid 2018.
              </div>
            </div>
            <br>
            <div>
              <form method='get' action="all_airlines">
                <button type="submit" class="btn btn-primary btn-lg">  Go to Airline Page  </button>
              </form>
            </div>
            <hr>
            <div class="subsection">
              <h2 class="h_subsection"> Midwest Wind Energy</h2>
              <hr class="hr-small"/>
            </div>
            <div class="left-group">
              This project looks at several different types of analysis (from both a technical and economic standpoint). The project was worked on in 2016, so the data and analysis deal with data prior to 2016. There are several different interesting facets to the project including:
              <ol>
                <li>A tool for comparing historical energy prices at different nodes throughout the Midwest.</li>
                <li>A report builder for looking at wind farm economics at different sites in Iowa and Illinois using a build in techno-economic model</li>
                <li>A case study of best sites for wind power additions in Iowa and Illinois based on historical wind and energy price data.</li>
              </ol> 
            </div>
            <br>
            <div>
              <form action="http://miso-epat.herokuapp.com/index_Main">
                <button type="submit" class="btn btn-primary btn-lg">  Go to Wind Energy Analysis  </button>
              </form>
            </div>
            <hr>
            <div class="subsection">
              <h2 class="h_subsection">STL Neighborhood Census Data</h2>
              <hr class="hr-small"/>
            </div>
            <div class="left-group">
              St. Louis City is made up of 79 different neighborhoods. Check out how the population and demogrpahics has changed during the 1990 to 2010 Census periods by selecting different neighborhoods with the explorer tool.
            </div>
            <br>
            <div>
              <form action="/stl_pop">
                <button type="submit" class="btn btn-primary btn-lg">  Go to Census Tool  </button>
              </form>
            </div>
            <hr>
          </div>
          
      </div>
      </div>
      <br>
      <div class="container">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          Contact: matt@stlannex.com  <a href="https://www.linkedin.com/in/mtlawder/">LinkedIn</a>  <a href="https://github.com/mtlawder">GitHub</a>
         <hr>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
      <br>
     
      
    </center>
    
    <script src="static/components/menu.vue">
    </script>
    <script src="static/components/header.vue">
    </script>
    </script>
  </body>
</html>
