<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>STL Annex</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/stlannex_style.css"/>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  
 

	</head>
	<body>
    <center>
    <div class="tophead">
        <br>
        <h1> STL Annex: Data Analysis of St. Louis Topics and More! [BETA] </h1>
        <h4>Matthew T. Lawder</h4>
        <h5>mtlawder@gmail.com</h5>
        <br>
    </div>
    <div id="menu-vue">
      <menu-bar></menu-bar>
    </div>
      <div class="container">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <div class="container">
            <div class="col-sm-5">
              <form method='get' action="all_airlines">
                  <button type="submit" class="btn btn-primary btn-lg">  Go to Airline Page  </button>
              </form>
            </div>
            <!-- <div class="col-sm-4">
              <form method='get' action="all_airlines">
                  <button type="submit" class="btn btn-primary btn-lg">  Go to a different analysis page  </button>
              </form>
            </div> -->
            <div class="col-sm-5">
              <form action="http://miso-epat.herokuapp.com/index_Main">
                  <button type="submit" class="btn btn-primary btn-lg">  Go to Wind Energy Analysis  </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col=sm-1">
        </div>
      </div>
      <br>
      <div class="container">
      <div class="col-sm-1">
      </div>
        <div class="col-sm-10 left-group">
          The projects above were built to be used to find insteresting insights from different data sets. Many data sets and tool are St. Louis centric, but some extend to information well beyond the city and county borders. The author don't create these tools in a vacuum, we also use them! You can find blog post with analysis created using these tool (and sometimes outside analysis). Find out more information about the author here and please reach out to mtlawder@gmail.com if you have any questions or comments about the tools or analysis.
        </div>
        <div class="col-sm-1">
        </div>
      </div>
      <hr>
      <div class="container">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <h2>Recent Posts</h2>
          <div class="left-group">
            <div class="blog-container">
              <div class="blog-title">
                <h3 href="/blog_load_factors_from_STL">Who's planes are most crowded at STL</h3>
              </div>
              <div class="blog-title blog-date">5/25/2019 - M. Lawder</div>
            </div>
             With the T-100 database, we get a look at the total number of seats available on an individual route as well as the actual number of passengers that flew those routes. The percentage of occupied seats
            <a href="/blog_load_factors_from_STL">Read more ...</a>
            <div class="blog-container">
              <div class="blog-title">
                <h3 href="/blog_starting_airline_route_post">Why Study Airline Data</h3>
              </div>
              <div class="blog-title blog-date">5/24/2019 - M. Lawder</div>
            </div>
             I'm not an aviation expert, but I've always been interested in transportation and it's infrastructure. I often find myself asking questions about how many people are using different modes of transportation.
            <a href="/blog_starting_airline_route_post">Read more ...</a>
          </div>
          <br>
          <hr>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </center>
    <script>
      Vue.component('menu-bar',{
          data: function() {
            return{
              count:2
            }
          },
          template: '<nav class="navbar navbar-default"><div class="container-fluid"><!-- Brand and toggle get grouped for better mobile display --><div class="navbar-header"> <!-- Collect the nav links, forms, and other content for toggling --><div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><ul class="nav navbar-nav"><li><a href="\index_Main"> STLAnnex Home </a></li><li><a href="\all_airlines#">Airline Project </a></li></ul></div><!-- /.navbar-collapse --></div><!-- /.container-fluid --></nav>'
        }),
      new Vue({ el: '#menu-vue' })
      </script>
	</body>
</html>
