<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>STL Annex</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/stlannex_style.css"/>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  
 

	</head>
	<body>
    <center>
    <div class="tophead">
        <br>
        <h1> STL Annex: Data Analysis of St. Louis Topics! </h1>
        <h4>Matthew T. Lawder</h4>
        <h5>mtlawder@gmail.com</h5>
        <br>
    </div>
    <div id="menu-vue">
      <menu-bar></menu-bar>
    </div>
        <div>
<!--             <form class="form-horizontal" method='get' action="airlines">
	           <button type="submit" class="btn btn-primary btn-lg">  Go to STL Airport Page  </button>
	       </form>
            <form class="form-horizontal" method='get' action="stl_pop">
                <button type="submit" class="btn btn-primary btn-lg">  Go to STL Population Page  </button>
            </form> -->
            <br>
            <form class="form-horizontal" method='get' action="all_airlines">
                <button type="submit" class="btn btn-primary btn-lg">  Go to New Airline Page  </button>
            </form>
        </div>
    </center>
    <script>
      Vue.component('menu-bar',{
          data: function() {
            return{
              count:2
            }
          },
          template: '<nav class="navbar navbar-default"><div class="container-fluid"><!-- Brand and toggle get grouped for better mobile display --><div class="navbar-header"> <!-- Collect the nav links, forms, and other content for toggling --><div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><ul class="nav navbar-nav"><li><a href="\index_Main"> STLAnnex Home </a></li><li><a href="\all_airlines#">Airline Project </a></li></ul></div><!-- /.navbar-collapse --></div><!-- /.container-fluid --></nav>'
        }),
      new Vue({ el: '#menu-vue' })
      </script>
	</body>
</html>
