.showScrollDiv{
    position: fixed;
    top: 35%;
    left: 10%;
    background-color:rgba(204, 228, 248, 0.8);
    border-radius: 6px;
    text-align: left;
}
.showScrollDivRight{
    position: fixed;
    /* float: right; */
    top: 35%;
    right: 10%;
    background-color:rgba(204, 228, 248, 0.8);
    border-radius: 6px;
    text-align: left;
    width:280px;
}
.showScrollInterior{
    width:280px;
    padding: 8px;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
.showScrollDivAnchored{

    animation: fadeIn ease 5s;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 2s ease;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
    }
.leftYear{
    text-align:left;
}
.rightYear{
    text-align: right;
}
.yrBar{
    color:white;
    background-color:black;
    width:100%;
    padding-left:20%;
    padding-right:20%;
}