/* CSS-Global */
body {
 background-color: #edeff2;
}

div.tophead {
  background-color: #428bca;
    color: White;}

th {
  cursor: pointer;
}
hr {
  margin:20px;
  border-top: 1px solid black;
}

.click_sel {
  cursor: pointer;  
}

.click_sel:hover {
  font-weight: bold;
}

.hidden_submit {
  display:none;
}
.select-option-1 {
  text-align:left;
  padding-left:20px;
}
.horiz-divl {
  float: left;
  padding-right:8px;
  padding-bottom: 4px;
}
.blog-title {
  float:left;
}
.blog-container{
  height:56px;
}
.blog-date {
  margin-top:26px;
  margin-left:12px;
}
.horiz-divr {
  float: right;
}
.selection_header {
  max-width:1100px;
  height:100%;
  text-align:left;
  background-color: #b8b8b8;
  margin-bottom: 14px;
  border-style:inset;
  border:1px solid black;
}
.selection_header-top {
  margin-bottom:0px;
  border-top:3px solid black;
  border-left:3px solid black;
  border-right:3px solid black;
  border-bottom:1px solid black;
  background-color: #9b9b9b;
}
.selection_header-hidden {
  max-width:1100px;
  height:100%;
  text-align:left;
  background-color: #9b9b9b;
  margin-bottom: 14px;
  border-style:inset;
  border:3px solid black;
}
.center-drop {
  padding-top:20px;
}
.short-bottom {
  padding-bottom: 3px !important;
}
.selection-group {
  border:1px solid black;
  padding:5px;
}
.remove-pad{
  padding:0px;
}
.sub-pad {
  padding-left:6px;
  padding-right:0px;
}
.sub-pad-down {
  padding-top:20px;
  padding-left:2px;
  padding-right:6px;
}
.hide-button{
  border: 0px;
  background-color: #9b9b9b;
  cursor: pointer;
}
.center-group{
  text-align:center;
}
.right-group{
  text-align:right;
}
.left-group{
  text-align:left;
}
.select-height{
  height:100%;
  min-height:137px;
}
.modal-window {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 750px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
[v-cloak]>*{display:none;}
