/* CSS-Global */
body {
 background-color: #edeff2;
 padding-top:50px;
}
nav {
	border-bottom:1px solid black;
}

div.tophead {
  /*background-color: #428bca;*/
    color: Black;
    position: relative;
    text-align:center;
    border-bottom:1px solid black;
  }
div.tophead_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#999999;
  opacity:0.82;
  border-radius:10pt;
}
div.subsection {
  background-color: #428bca;
    color: White;
    position: relative;
    text-align:center;
}
.h_subsection {
  padding-top:8px;
  padding-bottom:8px;
}

th {
  cursor: pointer;
}
thead{
  border-bottom:2px solid green;
}
hr {
  margin:20px;
  border-top: 1px solid black;
}
a {
  color: #337ab7;
}
table{
  border-top: 1px solid black;
}
.click_sel {
  cursor: pointer;  
}

.click_sel:hover {
  font-weight: bold;
}
.map {
  min-height: 415px;
  min-width: 300px;
  width: 100%;
  margin:20px;
}
.leftHandPanel {
  background-color:white;
  min-width: 550px;
  border: black solid 1pt;
  margin-right: 20px
  /*padding:3px;*/
}
.pop-pick-left{
  text-align:center;
  padding-bottom:8px;
}
@media screen and (min-width: 48em){
    .pop-pick-left{
        text-align: right;
        padding-top:8px;
    }
}
.pop-pick-right{
  text-align: center;
}
@media screen and (min-width: 48em){
    .pop-pick-right{
        text-align: left;
    }
}
.air-table{
  overflow:scroll;
  overflow-y: hidden;
}
@media screen and (min-width: 48em){
    .air-table{
      overflow:auto;
      max-height:1000px;
    }
}
.active {
  border: black solid 1pt;
}
.hidden_submit {
  display:none;
}
.btn-selector{
  background-color: #b3b5c4;
}
.select-option-1 {
  text-align:left;
  padding-left:20px;
}
.horiz-divl {
  float: left;
  padding-right:8px;
  padding-bottom: 4px;
}
.blog-title {
  float:left;
  margin-top:16px;
}
.blog-title-link{
  font-size: 24px;
  font-weight: 400;
}
.blog-container{
  overflow: auto;
}
.blog-date {
  margin-top:26px;
  margin-left:12px;
}
.horiz-divr {
  float: right;
}
.selection_header {
  max-width:1100px;
  height:100%;
  text-align:left;
  background-color: #b8b8b8;
  margin-bottom: 14px;
  border-style:inset;
  border:1px solid black;
}
.selection_header-top {
  margin-bottom:0px;
  border-top:3px solid black;
  border-left:3px solid black;
  border-right:3px solid black;
  border-bottom:1px solid black;
  background-color: #9b9b9b;
}
.selection_header-hidden {
  max-width:1100px;
  height:100%;
  text-align:left;
  background-color: #9b9b9b;
  margin-bottom: 14px;
  border-style:inset;
  border:3px solid black;
}
.center-drop {
  padding-top:20px;
}
.short-bottom {
  padding-bottom: 3px !important;
}
.table-adj {
  width: 90%;
  margin-left:5%;
  margin-top:10px;
}
.selection-group {
  border:1px solid black;
  padding:5px;
}
.table-board{
  border:2px solid black;
  padding:5px;
}
.remove-pad{
  padding:0px;
}
.sub-pad {
  padding-left:6px;
  padding-right:0px;
}
.sub-pad-down {
  padding-top:20px;
  padding-left:2px;
  padding-right:6px;
}
.hide-button{
  border: 0px;
  background-color: #9b9b9b;
  cursor: pointer;
}
.center-group{
  text-align:center;
}
.right-group{
  text-align:right;
}
.left-group{
  text-align:left;
}
.select-height{
  height:100%;
  min-height:137px;
}
.modal-window {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.right-image{
  float:right;
  width:40%;
  border:1px solid black;
}
.modal-container {
  width: 750px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.row-bk{
  float: left;
}
.image{
  width:100%;
  border: 1px solid black;
}
[v-cloak]>*{display:none;}
