<!doctype html>
<html lang="en">
	<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142498774-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-142498774-1');
	</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="<<% url_for('static', filename='styles/stlannex_style.css') %>>">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">

    <title>STL Annex</title>
	</head>
	<body>
    <center>
     <div id="header-vue">
      <header-bar></header-bar>
    </div>
      <div id="menu-vue">
        <menu-bar></menu-bar>
      </div>
      <div class="container">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10 left-group">
          <div class="blog-container">
            <div class="blog-title">
              <h3 href="/blog_starting_airline_route_post">Why Study Airline Data</h3>
            </div>
            <div class="blog-title blog-date">5/24/2019 - M. Lawder</div>
          </div>
          
            <div>
              I'm not an aviation expert, but I've always been interested in transportation and it's infrastructure. I often find myself asking questions about how many people are using different modes of transportation. Why is one bridge 2 lanes or 3 lanes or 4 lanes and are they all being utilized and at what times of day? As I began to fly more, so many questions around aviation began to pop into my head. I won't list them all here, but one of the basic questions I often think about is "How many people fly route X?".
              <br><br>
              When I boarded a plane, I often found myself counting how many people are on board and how many empty seats are there. After looking at my own flight, the next obvious question was "Sure my flight is full, but what about the flight on the same route that took off at 6am this morning?". Ultimately this leads to the question of how many people fly all routes at all times. And are numbers changing over time?
              <br><br>
              Much of the data to answer these questions is publically available. The Bureau of Transportation publishes the data needed to answer so many of the questions I had, but it's not exactly easy to sift through all of the data and pull out the specific information that I wanted to study. So I started building this tool (name TBD) to allow for easier parsing of the data. At this point, I've limited the data set to only a sample of years and origin airports available in the T-100 Domestic Segment Data set. Being from St. Louis, I've been most interested in studying passenger data from STL which is why you'll see data available for that airport probably before I add other airports.
              <br><br>
              My initial goal for building the tool was really to help myself have a simpler way to consume and break down passenger data. The tool is fairly flexible, allowing for different types of route/passenger analysis. So my hope is that other people can use the tool to find many different types of insights in the data.
              <br><br>
              At this point the tool is still very much in BETA and I will be actively adding new features and updating the look and feel of the tool. Additionally, because I'll be actively working on it, I can not guarantee the accuracy of the output at this point since the tool uses queries I’ve built to summarize the raw data and those may be getting updated. If you see any glaring mistakes please report them and I'll work to get them corrected. With those caveats in place, I hope you enjoy exploring the tool and the subset of data currently available.
              <br><br>
              While I will continue to work on building out the tool (as well as other parts of the website), I also hope to publish blog posts about some of the analysis that I perform while working with the tool. I'm not sure how frequent the post will be at this point, but hopefully you'll find them interesting.
              <br>
              <hr>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </center>
    <script src="<<% url_for('static', filename='components/menu.vue') %>>">
    </script>
    <script src="<<% url_for('static', filename='components/header.vue') %>>">
    </script>
    </body>
</html>